<style>

body{background-color:#f1f1e8;}

hr {
border-style:none;
border-top-style:dotted;
border-color:#81b214;
border-width:5px;
width:5%;}

h1{color:#206a5d;}

h3{color:#206a5d;}

b{color:#206a5d;}
</style>